
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html, body { 
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: linear-gradient(162deg, #4d0e81, rgb(17, 83, 150), rgb(17, 110, 122), #383838); 
    font-family: "Open Sans", sans-serif;
}

header {
    height: 2em;
}

h1 {
    text-align: center;  
    font-weight: normal;
    margin: 1em 0 1.5em;
    color: rgb(86, 71, 89);
    font-size: 1.6em;
}

main {
    display: flex;
    flex-grow: 1;
    color: #333;
    background-image: url(https://wbfox.ru/imgs/fox-logo-pwa-trim.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 70%;    
    
    max-width: 1000px;
    margin: 0 auto;
}

main article {
    backdrop-filter: blur(7px);
    margin: 0 2em;
    background: linear-gradient(127deg, #d1e6fecc, #f5d0ffcc);
    padding: 1.5em;
    border-radius: 2.6em;
    box-shadow: 0 0 1em #2227;
}

main article p {
    margin: 0.6em 0;
}

main article ul {
    margin: 0.6em 0;
    
}

main article ul li {
    margin: 0.2em 0;
}

main article a {
    color: rgb(0, 22, 214);
}

footer {
    height: 2em;
    min-height: 2em;
}
