
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html, body { 
    height: 100%;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background: linear-gradient(135deg, #eee, #def); 
    font-family: "Open Sans", sans-serif;
}

header {
    text-align: center;  
}

header h1 {
    font-weight: normal;
    margin: 1em auto;
    width: 70vw;
    color: rgb(86, 71, 89);
    font-size: 1.5em;
}

main {
    display: flex;
    flex-grow: 1;
    color: #333;
}

main article {
    max-width: 1000px;
    margin: 0 auto;
    width: 70vw;
    background: linear-gradient(127deg, #d1e6fe, #f5d0ff);
    padding: 1.5em 2em;
    border-radius: 1.6em;
    border: 1px solid #fff;
}

main article p {
    margin: 0.6em 0;
}

main article ul {
    margin: 0.6em 0;
}

main article ul li {
    margin: 0.2em 0;
}

main article a {
    color: rgb(0, 22, 214);
    text-decoration: none;
}

footer {
    height: 3em;
    min-height: 2em;
}
